body, table, div, p, dl {
 font: 400 14px/21px "Open Sans",sans-serif;
}

div#top {
  width: 270px;
  float: left;
}

div#titlearea td {
  vertical-align: top;
}

#MSearchBox {
     left: 0px;
     top: 40px;
}

#MSearchField {
  font: 9pt 'Open Sans', sans-serif;
}

#MSearchClose {
  -webkit-box-shadow: none;
}

.SelectItem {
  font: 8pt 'Open Sans', sans-serif;
}

div#MSearchResultsWindow {
  left: 10px !important;
  top:  70px !important;
  background-color: rgba(238, 241, 247, 0.94);
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}

.SRSymbol {
  font-family: 'Open Sans', sans-serif !important;
}

a.SRScope {
  font-family: 'Open Sans', sans-serif !important;
}

span.SRScope {
  font-family: 'Open Sans', sans-serif !important;
}

#nav-tree {
  background-image: none;
  background-repeat: none;
  background-color: rgb(39, 37, 37);
  width: 270px;
}

#nav-tree .label a {
  font: 12px 'Open Sans',Geneva,Helvetica,Arial,sans-serif;
  color: rgb(164,164,164);
}

#nav-tree .selected {
  background-image: none;
  background-repeat: none;
  color: rgb(32, 32, 32);
  text-shadow: none;
  background-color: rgb(252, 252, 252);
}

.ui-resizable-e {
  background: none;
  cursor: e-resize;
  height: 100%;
  right: 0px;
  top: 0px;
  width: 2px;
}

code {
  font-family: Menlo;
  font-size: 12px;
  padding: 2px 4px;
  white-space: nowrap;
  background-color: rgba(102, 128, 153, 0.0745098);
}

body {
 font: 400 16px/24px sans-serif;
}

 h1.groupheader {
  font-size: 150%;
 }

.title {
 font: 400 14px/28px "Open Sans",sans-serif;
 font-size: 150%;
 font-weight: bold;
 margin: 10px 2px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
}

h1.glow, h2.glow, h3.glow, h4.glow, h5.glow, h6.glow {
 text-shadow: 0 0 15px rgb(61, 87, 140);
}

p.startli, p.startdd {
 margin-top: 2px;
}

p.starttd {
 margin-top: 0px;
}

a.el {
 font-weight: normal;
}


pre.fragment {
 border: 0px solid #C4CFE5;
 background-color: rgba(0,0,0,0.03);
 border-left: 0px;
 padding: 4px 13px;
 margin: 4px 0px 4px 0px;
 border-top-right-radius: 5px;
 border-bottom-right-radius: 5px;
 overflow: auto;
 word-wrap: normal;
 line-height: 19px;
 font-family: Menlo, monospace, fixed;
 font-size: 12px;
}

div.fragment {
 padding: 4px 13px;
 margin: 4px 0px 4px 0px;
 background-color: rgba(0,0,0,0);
 border: 1px solid rgb(221, 221, 221);
 overflow-x: auto;
 overflow-y: hidden;
}

div.line {
 font-family: "Menlo", monospace, fixed;
 font-size: 12px;
 min-height: 12px;
 line-height: 100%;
 text-wrap: unrestricted;
 white-space: -moz-pre-wrap; /* Moz */
 white-space: -pre-wrap;     /* Opera 4-6 */
 white-space: -o-pre-wrap;   /* Opera 7 */
 white-space: pre-wrap;      /* CSS3  */
 word-wrap: break-word;      /* IE 5.5+ */
 text-indent: -53px;
 padding-left: 53px;
 padding-bottom: 3px;
 padding-top: 3px;
 margin: 0px;
 -webkit-transition-property: background-color, box-shadow;
 -webkit-transition-duration: 0.5s;
 -moz-transition-property: background-color, box-shadow;
 -moz-transition-duration: 0.5s;
 -ms-transition-property: background-color, box-shadow;
 -ms-transition-duration: 0.5s;
 -o-transition-property: background-color, box-shadow;
 -o-transition-duration: 0.5s;
 transition-property: background-color, box-shadow;
 transition-duration: 0.5s;
  overflow-x: visible;
  overflow-y: visible;
  word-wrap: normal;
  white-space: pre;
}

div.line.glow {
 background-color: rgb(61, 87, 140);
 box-shadow: 0 0 10px rgb(61, 87, 140);
}


span.lineno {
 color: #A4A4A4;
 padding-right: 4px;
 padding-bottom: 3px;
 padding-top: 3px;
 text-align: right;
 border-right: 2px solid #E9E9E9;
 background-color: #FFFFFF;
 white-space: pre;
 -webkit-touch-callout: none;
 -webkit-user-select: none;
 -khtml-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
 user-select: none;
}
span.lineno a {
 background-color: #FFFFFF;
}

div.contents {
  margin: auto;
  max-width: 800px;
}


blockquote {
  border-left-width: 10px;
}

.memberdecls td.glow, .fieldtable tr.glow {
 background-color: rgb(61, 87, 140);
 box-shadow: 0 0 15px rgb(61, 87, 140);
}


.memitem.glow {
 box-shadow: 0 0 15px rgb(61, 87, 140);
}

.memname {
 font-weight: normal;
}


.memproto, dl.reflist dt {
        font-weight: normal;
        text-shadow: none;
        background-image: none;
        box-shadow: none;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
        -moz-box-shadow: none
        -moz-border-radius-topright: 0;
        -moz-border-radius-topleft: 0;
        -webkit-box-shadow: none;
        -webkit-border-top-right-radius: 0;
        -webkit-border-top-left-radius: 0;
}

.memdoc, dl.reflist dd {
        background-image:none;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        box-shadow: none;
        -moz-border-radius-bottomleft: 0;
        -moz-border-radius-bottomright: 0;
        -moz-box-shadow: none;
        -webkit-border-bottom-left-radius: 0;
        -webkit-border-bottom-right-radius: 0;
        -webkit-box-shadow: none;
}


table.doxtable {
  margin: 20px;
  width: 85%;
  font-size: 14px;
}

table.doxtable td {
 border: 0px solid #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
  border-top: 1px solid transparent;
 padding: 4px;
  color: #000000;
}

table.doxtable th {
 background-color: #FFFFFF;
  border: 0px solid #000000;
  border-bottom: 2px solid #606860;
 font-size: 100%;
  padding: 4px;
  color: #000000;
}

table.fieldtable {
 -moz-box-shadow: rgba(0, 0, 0, 0.0) 2px 2px 2px;
}


div.header {
 background-image:none;
 background-color: white;
 margin:  auto;
 max-width: 800px;
}

div.headertitle
{
 padding: 5px 5px 5px 0px;
 margin-left: 0px;
}

dl.note, dl.warning, dl.attention, dl.pre, dl.post, dl.invariant, dl.deprecated, dl.todo, dl.test, dl.bug
{
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        margin-left: 0px;
        margin-right: 0px;
        padding: 0px 0px;
        border-left: 0px;
}

dl.note dt, dl.warning dt, dl.attention dt, dl.pre dt, dl.post dt, dl.invariant dt, dl.deprecated dt, dl.todo dt, dl.test dt, dl.bug dt
{
  margin-left: 0px;
  margin-right: 0px;
  padding: 4px 13px;
  color: rgb(255, 255, 255);
}

dl.note dd, dl.warning dd, dl.attention dd, dl.pre dd, dl.post dd, dl.invariant dd, dl.deprecated dd, dl.todo dd, dl.test dd, dl.bug dd
{
  margin-left: 0px;
  margin-right: 0px;
  padding: 4px 13px;
}

dl.note dt
{
  background-color: rgb(106, 176, 222);
}

dl.note
{
  background-color: rgba(106, 176, 222, 0.15);
}


dl.warning dt, dl.attention dt
{
  background-color: rgb(255, 102, 102);
}
dl.warning, dl.attention
{
  background-color: rgba(255, 102, 102,0.15);
}

dl.pre dt, dl.post dt, dl.invariant dt
{
  background-color: rgb(0, 128, 64);
}
dl.pre, dl.post, dl.invariant
{
  background-color: rgba(0, 128, 64,0.15);
}

dl.deprecated dt
{
  background-color: rgb(80,80,80);
}
dl.deprecated dt a, dl.deprecated dt a:visited {
  color: rgb(255, 255, 255);
}
dl.deprecated
{
  background-color: rgba(80,80,80,0.15);
}

dl.todo dt
{
  background-color: rgb(0,192,224);
}
dl.todo dt a, dl.todo dt a:visited {
  color: rgb(255, 255, 255);
}
dl.todo
{
  background-color: rgba(0,192,224,0.15);
}

dl.test dt
{
  background-color: rgb(48,48,224);
}
dl.test
{
  background-color: rgba(48,48,224,0.15);
}

dl.bug dt
{
  background-color: rgb(192,128,80);
}
dl.bug
{
  background-color: rgba(192,128,80,0.15);
}

dl.section dd {
 margin-bottom: 6px;
}



#projectname
{
 font: 140% "Open Sans", Arial,sans-serif;
}

#projectbrief
{
 font: 70% "Open Sans", Arial,sans-serif;
}


 #titlearea
{
 border-bottom: none;
 background-color: rgb(41, 128, 185);
 color: rgb(255, 255, 255);
}


.diagraph
{
        text-align: center;
}


div.toc {
 padding: 10px 5px 0px 10px;
 border-radius: 0;
 margin: 0 0px 5px 5px;
}

div.toc li {
        font: 11px/1.2 "Open Sans",sans-serif;
}

div.toc h3 {
        font: bold 11px/1.2 'Open Sans',FreeSans,sans-serif;
}


div.toc li.level2 {
        margin-left: 10px;
}

div.toc li.level3 {
        margin-left: 15px;
}

div.toc li.level4 {
        margin-left: 30px;
}

#powerTip div {
        font: 12px/16px "Open Sans",sans-serif;
}
